@charset "UTF-8";

/*Estilo para Telas*
Mobile devices – 320px — 480px
iPads, Tablets – 481px — 768px
Small screens, laptops – 769px — 1024px
Desktops, large screens – 1025px — 1200px
Extra large screens, TV – 1201px, and more
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}